<!DOCTYPE html>
<html lang="en"></html>
<head>
    <style>
    .sub-header{height:24px;background-color: pink;}
    .sub-text-left {color:aquamarine;float: left;text-decoration: none;}
    .sub-text-right{color:aliceblue;float: right;}
    .mid-text{color: aliceblue; margin-left: 40%;float: left;}
    .sub-text-left:hover{color: brown;}
    </style>
  <meta charset="UTF-8" />
  <title>登录页面</title>
</head>
<body style="margin-left: 0;margin-right: 0;">
    <div class="sub-header">
        <div class="cotainer">
            <a class="sub-text-left" href="https://space.bilibili.com/3546582918105867/favlist?fid=3185314567&ftype=create">我的b站首页</a>
            <div class="mid-text">欢迎来到肌肌爆</div>
            <div class="sub-text-right">右边</div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <form method="post" action="/do_register">
    <div class="c1">
    用户名：<input type="text" name="user_name" />
    </div>
    <div class="c1">
        密码： <input type="password" name="pwd" />
    </div>
    <div class="c1" style="height: 85;">
        <textarea  style="text-align:center;" rows="3" name="etc"></textarea>
    </div>
    <input type="submit" value="submit"/>
    </form>

</body>
</html>
