<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>我的网站</title>
  </head>
  <body>
    <div>
      <a href="/register">点击注册</a>
    </div>

    <div style="color: aqua">div是一个块级标签</div>
    <h1 style="font-size: 24">运营商列表</h1>
    <ul>
      <li>联通</li>
      <li>电信</li>
      <li>移动</li>
    </ul>
    <ol>
      <li>中国</li>
      <li>英国</li>
      <li>美国</li>
    </ol>
    <h2>数据表格</h2>
    <table border="1">
      <thead>
        <tr>
          <th>name</th>
          <th>age</th>
          <th>age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>吴军</td>
          <td>24</td>
        </tr>
        <tr>
          <td>2</td>
          <td>张三丰</td>
          <td>24</td>
        </tr>
      </tbody>
    </table>
    <h2>input标签</h2>
    <input type="text" />
    <input type="password" />
    <input type="file" />
    <input type="radio" name="n1" />高达 <input type="radio" name="n1" />扎古
    <input type="checkbox" />篮球 <input type="checkbox" />足球
    <input type="checkbox" />羽毛球 <input type="checkbox" />乒乓球
    <input type="button" value="提交" />
    <input type="submit" value="提交" />
    <h2>下拉框和多行文本</h2>
    <select>
      <option>天空</option>
      <option>大地</option>
      <option>海洋</option>
    </select>
    <select multiple>
      <option>天空</option>
      <option>大地</option>
      <option>海洋</option>
    </select>
    <textarea rows="5"> </textarea>
    <h2>四级标题</h2>
  </body>
</html>
