<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>我的网站</title>
  </head>
  <body>
    <div>
      <span>注册一个新的账号</span>
    </div>
    <div>
      <span
        >选择头像
        <input type="file" />
      </span>
    </div>
    <div>
      <span>用户名:</span>
      <input type="text" />
    </div>
    <div>
      输入密码：
      <input type="password" />
    </div>
    <div>确认密码:<input type="password/>"</div>
    <div>
      性别：<input type="radio" name="n1" />男
      <input type="radio" name="n1" />女
    </div>
    <div>
      出生日期：
      <input type="datetime-local" />
    </div>
    <div>邮箱：<input type="text" /></div>
  </body>
</html>
